<nav class="navbar navbar-expand-xl bg-primary align-items-start">
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sideNav" aria-controls="sideNav" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse" id="sideNav">
    
    <ul class="navbar-nav d-flex flex-column">
      <a [routerLink]="['./']" class="nav-link navbar-brand"><img class="img-fluid mx-auto" src="/assets/images/AdminNavbarLogo.png" alt="Seiler Travel"></a>
      <li class="nav-item">
        <a [routerLink]="['./navigation']" class="nav-link">NAVEGACIÓN</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['./banner']" class="nav-link">BANNER</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Contenido</a>
      </li>
    </ul>
  </div>
</nav>
