@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: #E1E2E1;
}

.bg-primary, .btn-primary{
  transition: all 0.3s ease;
  background-color: #581a6d !important;
  color: rgb(255, 255, 255, 0.87);
  
}

.bg-primary-dark, .btn-primary-dark {
  transition: all 0.3s ease;
  background-color: #2b0041;
  color: rgb(255, 255, 255, 0.87);
}

.bg-primary-light, .btn-primary-light {
  transition: all 0.3s ease;
  background-color: #87479c;
  color: rgb(255, 255, 255, 0.87);
}

.bg-secondary{
  background-color: #d58400 !important;
}

.bg-secondary-dark{
  background-color: #9e5700;
}

.bg-secondary-light{
  background-color: #ffb441
}

/* ------------General ADMIN CSS---------------- */

.newItem {
  transition: all 0.3s ease;
  color: rgba(0, 0, 0, 0.57);
  background-color: rgb(255, 255, 255, 0.67);
}

.newItem:hover {
  background-color: rgb(255, 255, 255, 0.87);
  color: rgba(0, 0, 0, 0.87);
}

.newItemDisable{
  transition: all 0.3s ease;
  color: rgba(0, 0, 0, 0.45);
  background-color: rgb(255, 255, 255, 0.55);
}

.newItemDisable:hover{
  transition: all 0.3s ease;
  color: rgba(0, 0, 0, 0.75);
  background-color: rgb(255, 255, 255, 0.65);
}

.on {
  transition: all 0.3s ease;
  color: rgb(76, 176, 79, 0.87);
}

.on:hover {
  color: rgb(76, 176, 79);
}

.off {
  transition: all 0.3s ease;
  color: rgb(244, 67, 54, 0.87);
}

.off:hover {
  color: rgb(244, 67, 54);
}

.btn-primary-light, .btn-primary {
  border-radius: 0;
  padding: 0
}

.success {
  transition: color 0.3s ease;
  color: rgb(174,216,128, 0.87)
}

.success:hover {
  color: rgb(174,216,128);
}

.danger {
  transition: all 0.3s ease;
  color: rgb(218,97,108, 0.87);
}

.danger:hover {
  color: rgb(218,97,108);
}

/* <!-- General ADMIN CSS --> */