@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: #E1E2E1;
}

.bg-primary, .btn-primary{
  transition: all 0.3s ease;
  background-color: #581a6d !important;
  color: rgb(255, 255, 255, 0.87);
  
}

.bg-primary-dark, .btn-primary-dark {
  transition: all 0.3s ease;
  background-color: #2b0041;
  color: rgb(255, 255, 255, 0.87);
}

.bg-primary-light, .btn-primary-light {
  transition: all 0.3s ease;
  background-color: #87479c;
  color: rgb(255, 255, 255, 0.87);
}

.bg-secondary{
  background-color: #d58400 !important;
}

.bg-secondary-dark{
  background-color: #9e5700;
}

.bg-secondary-light{
  background-color: #ffb441
}